body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(244, 244, 244);
    margin: 0;
}
header{
    background-color: white;
    width: 100%;
}

#logo{
    vertical-align: middle;
    margin-left: 20px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    margin: 10px;
}

.contenitore{
    background-color: white;
    width: 900px;
    margin: 50px auto;
    padding: 20px 0px;
    border-radius: 10px;
}


.pulsante1{
    margin-left: 50px;
    margin-bottom: 5px;
    background-color: #3498db; 
    color: #fff;
    border: 1px solid #3498db;
    padding: 7px 12px ;
    border-radius: 5px; 
    cursor: pointer;

}

.pulsante2{
    background-color: #fff;
    color: #b7b6b6; 
    border: 1px solid #bebebe; 
    padding: 7px 12px; 
    border-radius: 5px;
    cursor: pointer;
        
    }

#separatore{
    border: none;
    height: 1px;
    background-color: #ddd;
    padding: 0;
    width: 100%;
    margin: 10px 0;
}