body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(244, 244, 244);
    margin: 0;
}
header{
    background-color: white;
    width: 100%;
}

#logo{
    vertical-align: middle;
    margin-left: 20px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    margin: 10px;
}

.contenitore{
    background-color: white;
    width: 900px;
    margin: 50px auto;
    padding: 20px 0px;
    border-radius: 10px;
}


.pulsante1{
    margin-left: 50px;
    margin-bottom: 5px;
    background-color: #3498db; 
    color: #fff;
    border: 1px solid #3498db;
    padding: 7px 12px ;
    border-radius: 5px; 
    cursor: pointer;

}

.pulsante2{
    background-color: #fff;
    color: #b7b6b6; 
    border: 1px solid #bebebe; 
    padding: 7px 12px; 
    border-radius: 5px;
    cursor: pointer;
        
    }

#separatore{
    border: none;
    height: 1px;
    background-color: #ddd;
    padding: 0;
    width: 100%;
    margin: 10px 0;
}

main{
    margin-left: 20px;
    margin-top: 30px;
}

ul{
    list-style: none;
}

.task-title {
    font-weight: bold;
    font-size: 25px;
    margin-top: 50px;
}

.task-title::before {
    content: "\25BE";
    margin-right: 5px;
    }

.did{
    margin-top: 25px;
    font-size: 17px;
}

.did::before{
    content: '\2713';
    margin-right: 10px;
    border: 1px solid rgb(40, 202, 97);
    color: rgb(40, 202, 97);
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.did-not{
    margin-top: 25px;
    font-size: 17px;
}

.did-not::before{
    content: '\2715';
    margin-right: 10px;
    border: 1px solid rgb(203, 39, 39);
    color: rgb(203, 39, 39);
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

#editorial-1::after,#editorial-2::after,#editorial-3::after {
  content: "Editorial";
  background-color: #3498db;
  border-radius: 10px;
  font-size: 10px;
  color: white;
  padding: 5px;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}

#goals::after{
  content: "Q1 Goals";
  background-color: #9235de;
  border-radius: 10px;
  font-size: 10px;
  color: white;
  padding: 5px;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}

#recruiting::after{
    content: "Recruiting";
    background-color: #25bd8d;
    border-radius: 10px;
    font-size: 10px;
    color: white;
    padding: 5px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
  }

  #mobile::after{
    content: "Mobile";
    background-color: #f7920e;
    border-radius: 10px;
    font-size: 10px;
    color: white;
    padding: 5px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
  }

  #website::after{
    content: "Website";
    background-color: #e80ef7;
    border-radius: 10px;
    font-size: 10px;
    color: white;
    padding: 5px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
  }

  #sales::after{
    content: "Sales";
    background-color: #97c435;
    border-radius: 10px;
    font-size: 10px;
    color: white;
    padding: 5px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
  }